.Slideshow {
  display: flex;
  flex-flow: row nowrap;
}

.SlideshowBox {
  min-width: 250px;
  width: 60vw;
  height: 100%;
  border: 1px solid gainsboro;
}

.SlideshowBox > img {
  padding-top: 10px;
}

.SlideshowBox > h3 {
  padding-bottom: 10px;
}

.SlideshowControls {
  width: 0;
  height: 0;
  border-style: solid;
}

.SlideshowControls:first-of-type {
  border-width: 110px 40px 110px 0;
  border-color: transparent rgba(212, 164, 164, 0.466) transparent transparent;
}

.SlideshowControls:last-of-type {
  border-width: 110px 0 110px 40px;
  border-color: transparent transparent transparent rgba(212, 164, 164, 0.466);
}

