.Modal {
  position: absolute;
  z-index: 250;
  background-color: white;
  width: 70%;
  border: 1px dashed rgb(230, 228, 228);
  box-shadow: 0 2px 1px rgb(229, 207, 229);
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.CloseButton {
  text-align: end;
}