.Button {
  height: 100%;
  background-color: transparent;
  text-align: center;
  border: none;
  cursor: pointer;
}

.HeaderButton {
  border-bottom: 2px dashed white;
  color: white;
  outline: none;
  padding: 0 10px;
  margin: 4px;
  font-size: 1.3rem;
}

.HeaderButton:hover {
  cursor: pointer;
  color: rgb(168, 70, 255);
  background-color: #FF5;
  border-bottom: 2px dashed rgb(168, 70, 255);
}

.FooterButton {
  border-top: 2px dashed white;
  color: white;
  outline: none;
  padding: 10px;
  font-size: 1.1rem;
  text-decoration: underline;
}

.FooterButton:hover {
  cursor: pointer;
  color: rgb(168, 70, 255);
  background-color: white;
  border-top: 2px dashed pink;
}

@media (max-height: 500px) {
  .FooterButton, .FooterButton:hover {
    font-size: 0.7rem;
    width: 20vw;
    padding: 0;
  }
}

.Cross {
  position: absolute;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  margin: -30px 0px;
  font-size: medium;
  padding: 3px;
  background-color: transparent;
  color: black;
  border: thistle solid 1px;
  border-radius: 30px;
  text-align: center;
}

.Cross:hover {
  background-color: thistle;
}

.SwitchBlockButton {
  outline: thistle solid 2px;
  margin: 1px;
  height: 100%;
  min-height: 2rem;
  width: 4rem;
  font-size: 0.9rem;
}

.SwitchBlockButton:active {
  box-shadow: inset 0 0 1px rgb(138, 55, 210);
  font-weight: bold;
}

.SwitchBlockButton:hover {
  box-shadow: inset 0px -2px rgb(168, 70, 255);
}

.SwitchBlockButton:hover:active {
  box-shadow: inset 0 0 1px rgb(168, 70, 255);
}

.SlideshowControls {
  background-color: transparent;
  cursor: pointer;
  border-width: 0;
  color: black;
  font-size: xx-large;
  display: inline-block;
}

.SlideshowControls:hover {
  color: rgb(138, 55, 210);
  text-shadow: #FF5 0 2px;

}