.Header {
  width: 100%;
  min-height: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: rgb(168, 70, 255);
  font-size: 10px;
  color: rgb(251, 247, 254);
  z-index: 1000;
}

/* background-color: #ffffff;
  top: 0;
  left: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;
justify-content: center;
font-size: calc(10px + 2vmin);
color: rgb(136, 0, 255); */