.Header {
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 6vh;
  min-height: 50px;
  padding: 0 1rem;
  opacity: 0.5;
  background-color: rgb(168, 70, 255);
  z-index: 10;
}
@media (min-height: 30rem) {
  .Header {
    opacity: 1;
  }
}
@media (hover:hover) {
  .Header:hover {
    opacity: 1;
    transition: all 0.3s ease-out;
  }
}