.Header {
  width: 100%;
  min-height: 20px;
  position: relative;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: rgb(168, 70, 255);
  font-size: 10px;
  color: rgb(251, 247, 254);
  z-index: 1000;
}

@media (max-height: 500px) {
  .Header {
    opacity: 0.5;
    height: 10vh;
    position: fixed;
    left: 0;
    min-height: 8vh;
  }
  .Header button {
    font-size: small;
  }
  .Header img {
    max-width: 8vw;
  }
  .Header:hover {
    opacity: 1;
    transition: all 0.3s ease-out;
  }
}