.Main {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Main h1 {
  font-size: x-large;
  margin: 2rem;
}

.Main h2 {
  font-size: large;
  margin: 2rem;
}