.Main {
  text-align: center;
  padding: 10vmin;
  margin-bottom: 5vmin;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.Main h1 {
  font-size: x-large;
  margin: 2vh;
}

.Main h2 {
  font-size: large;
  margin: 2vh;
}